<br>

<div class="grafico">

<po-chart
    [p-series]="[{ category: 'To Do - 20 Issues', value: 20},
                { category: 'Development - 30 Issues', value: 30 },
                { category: 'Code Review - 10 Issues', value: 10 },
                { category: 'Testing - 20 Issues', value: 20 },
                { category: 'Done - 20 Issues', value: 20 }]"
    p-title="Issues Consolidadas"
    p-type="grafico1" >
</po-chart>

<!--
    <tr *ngFor="let graficointerface of graficointerface">
        <P>
        <td>{{ graficointerface.id }}</td>
        <p>
        <td>{{ graficointerface.todo }}</td>   
        <p>
        <td>{{ graficointerface.development }}</td>  
        <p>
        <td>{{ graficointerface.codereview }}</td>  
        <p>
        <td>{{ graficointerface.testing }}</td>  
        <p>
        <td>{{ graficointerface.Done }}</td>  
        <p>
        <td>{{ graficointerface.result1 }}</td> 
        <p>           
        <td>{{ graficointerface.result2 }}</td>            
    </tr>
-->

</div>


